/* 颜色 */
$mainColor:#08A38E;

$isWarning:#FFE64C;
$isDanger:#EC5380;
$isTip:#4A90E2;

/* 边框 */
$mainBorder:1px solid #E1E1E1;

/*字体*/
$fontFamily: Circular, PingFang-SC, "Hiragino Sans GB", 微软雅黑, "Microsoft YaHei", "Heiti SC";
$mainText:#24252B;
$normalText:#646464;
$secondaryText:#9B9B9B;
$placeholderText:#CCCCCC;

/* 间距 */
$mainPadding:20px;
$mainMarginBottom:50px;
$mainMarginRight:20px;